html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.black-box {
  height: 660px;
  width: 1100px;
  background-color: black;
  border: 2px solid white;
  border-radius: 85px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.back-img {
  height: 90%;
  width: 90%;
  background-image: url(/images/ipad_iamge.avif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 50px;
  margin-top: 35px;
}

.time-battery {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 0px 20px;
  font-size: 16px;
}

.signal-battery {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.signal-battery p {
  margin: 0px;
}

.signal-battery img {
  height: 20px;
  margin-left: 5px;
}

.app-bar1, .app-bar2, .app-bar3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.app-bar4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 75px;
  margin-top: 30px;
}

.div1, .div2 {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.div2 {
  margin-right: 70px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.div1 img, .div2 img{
  height: 50px;
  margin-bottom: 5px;

}

.white-dot-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}

.white-dot-div p {
  width: 20px;
  margin: 0px;
  font-size: 8px;
}

.right-dot {
  color: transparent;
  text-shadow: 0 0 0 rgba(130, 130, 130, 0.626);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  height: 70px;
  width: 450px;
  background-color: rgba(139, 139, 139, 0.744);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 5px;
}

.menu-bar img {
  height: 50px;
  cursor: pointer;
}